body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.first{
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 90px;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 80px;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.links{
    display: flex;
    gap: 16px;
}
.header a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.logo{
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
}

.top-content{
    display: flex;
    gap: 40px;
}
.left-side{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 400px;
}

.left-side h1{
    font-size: 48px;
    font-weight:bolder;
    color:#f9faf8;
    margin: 0px;
}

.left-side button{
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    border-radius: 8px;
    padding: 6px 26px;
    border: none;
    align-self: flex-start;
}

.right-side{
    background-color: gray;
    width: 520px;
    height: 250px;
}

.left-side p{
    font-size: 18px;
    color: #e5e7eb;
}
.placeholder{
    width: 200px;
    height: auto;
}